@import "../../assets/variables";

.search-box {
	width: 100%;
	min-height: 40px;
	border-bottom: $container-border-bottom;
	border-top: $container-border-top;
	border-left: $container-border-left;
	border-right: $container-border-right;
	border-color: $button-hover-color;
	border-radius: 25px;

	.search-text {
		font-style: italic;
	}

	&:hover {
		background-color: lightblue;
		transition: $hover-transition;
	}
}
