/* COLORS */
$button-color:#fcfcfd;
$button-hover-color: #007dd1;

/* STYLE VALUES */
$container-border-bottom: 1px solid rgb(232, 232, 232);
$container-border-top: 1px solid rgb(232, 232, 232);
$container-border-left: 0.2px solid rgb(232, 232, 232);
$container-border-right: 0.2px solid rgb(232, 232, 232);
