@import '../../assets/variables';

.file-box {
	min-height: 11em;
	min-width: 10em;
	max-width: 10em;
	width: 100%;

	margin: 10px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// border-radius: 25px;
	// border-bottom: $container-border-bottom;
	// border-top: $container-border-top;
	// border-left: $container-border-left;
	// border-right: $container-border-right;
	// border-color: $button-hover-color;
	cursor: pointer;

	&:hover {
		background-color: lightblue;
	}

	.file-image {
		flex-grow: 0.9;
		height: 2.5em;
		width: 9.5em;
	}
}
