@import "../../assets/fonts";
@import "../../assets/variables";

.modal-body {
    position: absolute;
    width: 400px;
    padding: 20px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-bottom: $container-border-bottom;
    border-top: $container-border-top;
    border-left: $container-border-left;
    border-right: $container-border-right;
    border-color: $button-hover-color;
    background-color: #fafbff;
    background-size: contain;
    background-position: center;
    font-family: $regular-text-font;

    .close-button-user-info {
        left: 40%;
        position: relative;
        font-size: 1.5rem;
        cursor: pointer;
        top: 50%;
    }

    .edit-icon {
        font-size: 1.75rem;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        margin-left: 95px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;

        label {
            padding-left: 6px;
            font-size: 20px;
        }

        input {
            margin-top: 6px;
            height: 37px;
            padding: 0px 13px;
            font-size: 20px;
            font-family: $modals-text-font;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 25px;
            margin-bottom: 10px;
            transition: all 250ms ease-in-out;
            width: 90%;

            &:focus {
                outline: none;
                box-shadow: 0px 0px 12px 0.8px #007dd1;
            }

            &:focus::placeholder {
                color: transparent;
            }
        }
    }

    .save-changes-button {
        background-color: $button-color;
        height: 2rem;
        padding: 8px 3%;
        margin-left: 5px;
        margin-top: 5px;
        font-family: $regular-text-font;
        text-transform: capitalize;
        color: $button-text-color;
        border: 0;
        cursor: pointer;
        outline: 0;
        border-radius: 25px;
        box-shadow: -0.5px -0.5px 0.5px 0.5px $button-hover-color, 0.5px 0.5px 0.5px 0.5px $button-hover-color;
        background-color: $button-color;

        &:hover {
            color: black;
            box-shadow: 0 14px 9px 0 rgba(0, 0, 0, 0.24), 0 15px 22px rgba(0, 0, 0, 0.19);
            background-color: $button-hover-color;
        }
    }

    @media (max-width: 576px) {
        width: 300px;
    }
}
