@import "../../assets/variables";
@import "../../assets/fonts";

.container {
	//min-height: 100%;
	// min-width: 200px;
	//border-radius: 25px;
	width: 70%;
	height: 100%;
	text-transform: capitalize;
	//border-bottom: $container-border-bottom;
	// border-top: $container-border-top;
	// border-left: $container-border-left;
	border-right: $container-border-right;
	border-color: $button-hover-color;

	@media (max-width: 768px) {
		width: 100%;
		border: 0;
	}

	.nav-list {
		list-style: none;
		text-align: left;
		line-height: 3em;

		@media (max-width: 768px) {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0;
		}

		li {
			font-family: $regular-text-font;
			cursor: pointer;
			padding-left: 40px;
		}

		.my-files {
			background: url('../../assets/home-sidebar-logo.png') left center no-repeat;
		}

		.shared-files {
			background: url('../../assets/shared-sidebar-logo.png') left no-repeat;
		}

		.upload-files {
			background: url('../../assets/upload-sidebar-cloud-logo.png') left center no-repeat;
		}

		li:hover {
			font-weight: bold;
			color: $button-hover-color;
		}
	}
}