@import "../../assets/variables";
@import "../../assets/fonts";

.container {
	min-height: 180px;
	min-width: 200px;
	border-radius: 25px;
	width: 100%;
	height: 15%;
	text-transform: capitalize;
	border-bottom: $container-border-bottom;
	border-top: $container-border-top;
	border-left: $container-border-left;
	border-right: $container-border-right;
	border-color: $button-hover-color;

	.nav-list {
		list-style: none;
		text-align: left;
		line-height: 3em;

		li {
			font-family: $regular-text-font;
			cursor: pointer;
			&:hover {
				font-weight: bold;
			}
			&::-moz-selection {
				font-weight: bold;
			}
			&::selection {
				font-weight: bold;
			}
		}
		
	}
}
