@import '../../assets/fonts';
@import '../../assets/variables';

.header {
	min-height: 190px;
	min-width: 250px;
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border-radius: 25px;
	border-bottom: $container-border-bottom;
	border-top: $container-border-top;
	border-left: $container-border-left;
	border-right: $container-border-right;
	//border-color: $button-hover-color;
	background-color: #fafbff;
	background-image: url('./../../assets/big-sur.jpg');
	background-size: cover;
	background-position: center;
	font-family: $regular-text-font;

	.logout-button {
		background-color: $button-color;
		height: 2rem;
		padding: 8px 3%;
		margin-left: 5px;
		font-family: $regular-text-font;
		text-transform: capitalize;
		color: $button-text-color;
		border: 0;
		cursor: pointer;
		outline: 0;
		border-radius: 25px;
		box-shadow: -0.5px -0.5px 0.5px 0.5px $button-hover-color, 0.5px 0.5px 0.5px 0.5px $button-hover-color;
		background-color: $button-color;

		&:hover {
			color: black;
			box-shadow: 0 14px 9px 0 rgba(0, 0, 0, 0.24), 0 15px 22px rgba(0, 0, 0, 0.19);
			background-color: $button-hover-color;
		}
	}

	.user-information {
		background-color: $button-color;
		height: 2rem;
		padding: 8px 50px;
		font-family: $regular-text-font;
		text-transform: capitalize;
		color: $button-text-color;
		border: 0;
		cursor: pointer;
		outline: 0;
		border-radius: 25px;
		box-shadow: -0.5px -0.5px 0.5px 0.5px $button-hover-color, 0.5px 0.5px 0.5px 0.5px $button-hover-color;
		background-color: $button-color;

		&:hover {
			color: black;
			box-shadow: 0 14px 9px 0 rgba(0, 0, 0, 0.24), 0 15px 22px rgba(0, 0, 0, 0.19);
			background-color: $button-hover-color;
		}
	}
	
}