@import '../../assets/fonts';
@import '../../assets/variables';

.header {
	min-height: 180px;
	min-width: 200px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-radius: 25px;
	border-bottom: $container-border-bottom;
	border-top: $container-border-top;
	border-left: $container-border-left;
	border-right: $container-border-right;
	border-color: $button-hover-color;
	background-color: #fafbff;
	// background-image: url('./../../assets/clouds.png');
	background-size: contain;
	background-position: center;
	font-family: $regular-text-font;

	.login-button {
		background-color: $button-color;
		height: 2rem;
		padding: 8px 10%;
		font-family: $regular-text-font;
		text-transform: capitalize;
		color: $button-text-color;
		border: 0;
		cursor: pointer;
		outline: 0;
		border-radius: 25px;
		box-shadow: -0.5px -0.5px 0.5px 0.5px $button-hover-color, 0.5px 0.5px 0.5px 0.5px $button-hover-color;
		background-color: $button-color;

		&:hover {
			background-color: $button-hover-color;
			transition: 0.7s;
		}
	}

	.user-information {
		background-color: $button-color;
		height: 2rem;
		padding: 8px 50px;
		font-family: $regular-text-font;
		text-transform: capitalize;
		color: $button-text-color;
		border: 0;
		cursor: pointer;
		outline: 0;
		border-radius: 25px;
		box-shadow: -0.5px -0.5px 0.5px 0.5px $button-hover-color, 0.5px 0.5px 0.5px 0.5px $button-hover-color;
		background-color: $button-color;

		&:hover {
			background-color: $button-hover-color;
			transition: 0.7s;
		}
	}
}