@import "../../assets/fonts";
@import "../../assets/variables";

.register-container {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;

    .base-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2% 2% 1%;
        margin-top: 1%;
        margin-bottom: 0.5%;
        border-bottom: 1px solid rgb(232, 232, 232);
        border-top: 1px solid rgb(232, 232, 232);
        border-left: 0.2px solid rgb(232, 232, 232);
        border-right: 0.2px solid rgb(232, 232, 232);
        background: rgb(255, 255, 255);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #fafbff;
        width: 380px;
        margin: auto;

        .register-header {
            font-size: 36px;
            font-family: $modals-text-font;
            color: $button-hover-color;
        }

        .content {
            display: flex;
            flex-direction: column;

            .form {
                margin-top: 1.5em;
                display: flex;
                flex-direction: column;
                align-items: center;

                .form-group {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: fit-content;

                    label {
                        padding-left: 6px;
                        font-size: 20px;
                    }

                    input {
                        margin-top: 0.5%;
                        height: 37px;
                        padding: 0px 13px;
                        font-size: 20px;
                        font-family: $modals-text-font;
                        background-color: #f3f3f3;
                        border: 0;
                        border-radius: 25px;
                        margin-bottom: 31px;
                        transition: all 250ms ease-in-out;
                        width: 90%;

                        &:focus {
                            outline: none;
                            box-shadow: 0px 0px 12px 0.8px #007dd1;
                        }

                        &:focus::placeholder {
                            color: transparent;
                        }
                    }
                }

                .links {
                    flex-direction: column;

                    .dont-have-account-yet {
                        padding-top: 20px;
                    }

                    a {
                        font-family: $modals-text-font;
                        color: black;

                        &:hover {
                            color: #007dd1;
                        }
                    }
                }
            }
        }

        .footer {
            margin-top: 2em;
            margin-bottom: 2em;

            .register-button {
                font-family: $modals-text-font;
                font-size: 21px;
                padding: 5px 50px;
                border: 0;
                border-radius: 25px;
                box-shadow: -0.5px -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.19), 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.19);
                background-color: #fcfcfd;
                cursor: pointer;

                &:hover {
                    background-color: #007dd1;
                    transition: 0.7s;
                }
            }
        }
    }
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.close-button-register {
    left: 95%;
    position: relative;
    bottom: 1%;
    font-size: 1.5rem;
    cursor: pointer;
}
