.register-container {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.register-container .base-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2% 2% 1%;
  margin-top: 1%;
  margin-bottom: 0.5%;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  border-left: 0.2px solid #e8e8e8;
  border-right: 0.2px solid #e8e8e8;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fafbff;
  width: 380px;
  margin: auto;
}
.register-container .base-container .register-header {
  font-size: 36px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.register-container .base-container .content {
  display: flex;
  flex-direction: column;
}
.register-container .base-container .content .form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-container .base-container .content .form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.register-container .base-container .content .form .form-group label {
  padding-left: 6px;
  font-size: 20px;
}
.register-container .base-container .content .form .form-group input {
  margin-top: 0.5%;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 25px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
  width: 90%;
}
.register-container .base-container .content .form .form-group input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #007dd1;
}
.register-container .base-container .content .form .form-group input:focus::-moz-placeholder {
  color: transparent;
}
.register-container .base-container .content .form .form-group input:focus:-ms-input-placeholder {
  color: transparent;
}
.register-container .base-container .content .form .form-group input:focus::placeholder {
  color: transparent;
}
.register-container .base-container .content .form .links {
  flex-direction: column;
}
.register-container .base-container .content .form .links .dont-have-account-yet {
  padding-top: 20px;
}
.register-container .base-container .content .form .links a {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: black;
}
.register-container .base-container .content .form .links a:hover {
  color: #007dd1;
}
.register-container .base-container .footer {
  margin-top: 2em;
  margin-bottom: 2em;
}
.register-container .base-container .footer .register-button {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 21px;
  padding: 5px 50px;
  border: 0;
  border-radius: 25px;
  box-shadow: -0.5px -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.19), 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.19);
  background-color: #fcfcfd;
  cursor: pointer;
}
.register-container .base-container .footer .register-button:hover {
  background-color: #007dd1;
  transition: 0.7s;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-button-register {
  left: 95%;
  position: relative;
  bottom: 1%;
  font-size: 1.5rem;
  cursor: pointer;
}/*# sourceMappingURL=register.styles.css.map */